/vendor
composer.lock

# PHPStorm meta files
.idea/

# VS Code files
.vscode

# PHPUnit
.phpunit.result.cache
.phpunit.cache
.fastunit-cache

# fast-unit test impact analysis cache
/.fastunit-cache

# scoped & downgraded version
php-scoper.phar
box.phar
php-parallel-lint

tmp

# Allow overrides for Docker configuration (custom volumes, env variables etc)
docker-compose.override.yml

/temp_*
