parameters:
	ignoreErrors:
		-
			message: "#^Call to deprecated method markAsChanged\\(\\) of class Rector\\\\BetterPhpDocParser\\\\PhpDocInfo\\\\PhpDocInfo\\.$#"
			count: 3
			path: packages/BetterPhpDocParser/PhpDocInfo/PhpDocInfo.php

		-
			message: "#^Call to deprecated method markAsChanged\\(\\) of class Rector\\\\BetterPhpDocParser\\\\PhpDocInfo\\\\PhpDocInfo\\.$#"
			count: 4
			path: packages/BetterPhpDocParser/PhpDocManipulator/PhpDocTagRemover.php

		-
			message: "#^Call to deprecated method markAsChanged\\(\\) of class Rector\\\\BetterPhpDocParser\\\\PhpDocInfo\\\\PhpDocInfo\\.$#"
			count: 3
			path: packages/BetterPhpDocParser/PhpDocManipulator/PhpDocTypeChanger.php

		-
			message: """
				#^Call to deprecated method notifyNodeFileInfo\\(\\) of class Rector\\\\ChangesReporting\\\\Collector\\\\RectorChangeCollector\\:
				Use file\\-\\> method instead$#
			"""
			count: 1
			path: packages/NodeRemoval/NodeRemover.php

		-
			message: """
				#^Call to deprecated method notifyNodeFileInfo\\(\\) of class Rector\\\\ChangesReporting\\\\Collector\\\\RectorChangeCollector\\:
				Use file\\-\\> method instead$#
			"""
			count: 3
			path: packages/PostRector/Collector/PropertyToAddCollector.php

		-
			message: """
				#^Access to deprecated property \\$nodeRemover of class Rector\\\\Core\\\\Rector\\\\AbstractRector\\:
				Use service directly or return changes nodes$#
			"""
			count: 1
			path: rules/CodeQuality/Rector/If_/ConsecutiveNullCompareReturnsToNullCoalesceQueueRector.php

		-
			message: "#^Call to deprecated method markAsChanged\\(\\) of class Rector\\\\BetterPhpDocParser\\\\PhpDocInfo\\\\PhpDocInfo\\.$#"
			count: 1
			path: rules/DeadCode/PhpDoc/TagRemover/ParamTagRemover.php

		-
			message: """
				#^Access to deprecated property \\$nodeRemover of class Rector\\\\Core\\\\Rector\\\\AbstractRector\\:
				Use service directly or return changes nodes$#
			"""
			count: 1
			path: rules/DeadCode/Rector/Array_/RemoveDuplicatedArrayKeyRector.php

		-
			message: """
				#^Access to deprecated property \\$nodeRemover of class Rector\\\\Core\\\\Rector\\\\AbstractRector\\:
				Use service directly or return changes nodes$#
			"""
			count: 1
			path: rules/DeadCode/Rector/BinaryOp/RemoveDuplicatedInstanceOfRector.php

		-
			message: """
				#^Access to deprecated property \\$nodeRemover of class Rector\\\\Core\\\\Rector\\\\AbstractRector\\:
				Use service directly or return changes nodes$#
			"""
			count: 1
			path: rules/DependencyInjection/Rector/Class_/ActionInjectionToConstructorInjectionRector.php

		-
			message: "#^Call to deprecated method addNodeAfterNode\\(\\) of class Rector\\\\PostRector\\\\Collector\\\\NodesToAddCollector\\.$#"
			count: 6
			path: rules/MysqlToMysqli/Rector/Assign/MysqlAssignToMysqliRector.php

		-
			message: "#^Call to deprecated method addNodeAfterNode\\(\\) of class Rector\\\\PostRector\\\\Collector\\\\NodesToAddCollector\\.$#"
			count: 3
			path: rules/Php72/Rector/Assign/ListEachRector.php

		-
			message: """
				#^Call to deprecated method addNodesAfterNode\\(\\) of class Rector\\\\PostRector\\\\Collector\\\\NodesToAddCollector\\:
				Return created nodes right in refactor\\(\\) method to keep context instead\\.$#
			"""
			count: 1
			path: rules/Php72/Rector/Assign/ReplaceEachAssignmentWithKeyCurrentRector.php

		-
			message: """
				#^Call to deprecated method addNodeBeforeNode\\(\\) of class Rector\\\\PostRector\\\\Collector\\\\NodesToAddCollector\\:
				Return created nodes right in refactor\\(\\) method to keep context instead\\.$#
			"""
			count: 1
			path: rules/Php74/Rector/FuncCall/MoneyFormatToNumberFormatRector.php

		-
			message: "#^Call to deprecated method markAsChanged\\(\\) of class Rector\\\\BetterPhpDocParser\\\\PhpDocInfo\\\\PhpDocInfo\\.$#"
			count: 1
			path: rules/Php80/Rector/Class_/AnnotationToAttributeRector.php

		-
			message: "#^Call to deprecated method markAsChanged\\(\\) of class Rector\\\\BetterPhpDocParser\\\\PhpDocInfo\\\\PhpDocInfo\\.$#"
			count: 1
			path: rules/Php80/Rector/Class_/ClassPropertyAssignToConstructorPromotionRector.php

		-
			message: "#^Call to deprecated method addNodeAfterNode\\(\\) of class Rector\\\\PostRector\\\\Collector\\\\NodesToAddCollector\\.$#"
			count: 1
			path: rules/Php80/Rector/FuncCall/TokenGetAllToObjectRector.php

		-
			message: """
				#^Access to deprecated property \\$nodeRemover of class Rector\\\\Core\\\\Rector\\\\AbstractRector\\:
				Use service directly or return changes nodes$#
			"""
			count: 5
			path: rules/Removing/Rector/ClassMethod/ArgumentRemoverRector.php

		-
			message: """
				#^Call to deprecated method notifyNodeFileInfo\\(\\) of class Rector\\\\ChangesReporting\\\\Collector\\\\RectorChangeCollector\\:
				Use file\\-\\> method instead$#
			"""
			count: 1
			path: src/NodeManipulator/ArrayManipulator.php

		-
			message: """
				#^Access to deprecated property \\$nodeRemover of class Rector\\\\Core\\\\Rector\\\\AbstractRector\\:
				Use service directly or return changes nodes$#
			"""
			count: 2
			path: src/Rector/AbstractRector.php
