rules:
    - Symplify\PHPStanRules\Rules\CheckClassNamespaceFollowPsr4Rule

services:
    # makes $container->make() generic type
    - Rector\Utils\PHPStan\ClassConstFetchReturnTypeResolver
    -
        class: Rector\Utils\PHPStan\TypeExtension\ContainerMakeReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

parameters:
    reportUnmatchedIgnoredErrors: false
    customRulesetUsed: true

    fileExtensions:
        - inc

    paths:
        - packages-tests/
        - rules-tests/

    strictRules:
        allRules: false

    excludePaths:
        - '*/Fixture/*'

    ignoreErrors:
        - '#Cognitive complexity .*#'
        - '#Out of .* possible .* types .*#'
        - '#.* is never used#'
        - '#.* is forbidden to use#'
        - '#Instead of .*#'
        - '#.* cannot be used/left in the code: .*#'
        - '#.* to respect parent type#'
        - '#.* annotation with test case class reference#'
