includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon
    - vendor/symplify/phpstan-rules/config/rector-rules.neon

parameters:
    level: 8

    # reportUnmatchedIgnoredErrors: false

    # requires exact closure types
    checkMissingCallableSignature: true

    paths:
        - rector.php
        - bin
        - config
        - src
        - rules
        # tests
        - tests
        - rules-tests
        - utils

    scanDirectories:
        - stubs

    scanFiles:
        - src/Contract/PhpParser/Node/StmtsAwareInterface.php

    excludePaths:
        - '*tests/*/Fixture/*'
        - '*tests/*/Fixture*'
        - '*tests/*/Source/*'
        - '*tests/*/Source*'

    # https://github.com/rectorphp/type-perfect/
    type_perfect:
        no_mixed: true
        null_over_false: true
        narrow_param: true
        narrow_return: true

    ignoreErrors:
        -
            identifier: missingType.generics

        # is nested expr
        -
            message: '#Access to an undefined property PhpParser\\Node\\Expr\:\:\$expr#'
            path: rules/DeadCode/NodeManipulator/LivingCodeManipulator.php

        -
            message: '#Function "var_dump\(\)" cannot be used/left in the code#'
            path: src/functions/node_helper.php

        # lack of generic array in nikic/php-parser
        - '#Method (.*?) should return array<PhpParser\\Node\\(.*?)\> but returns array<PhpParser\\Node\>#'

        # generics nullable bugs
        -
            message: '#Method (.*?) should return (.*?)\|null but returns PhpParser\\Node\|null#'
            path: src/PhpParser/Node/BetterNodeFinder.php

        - '#Method (.*?) should return array<T of PhpParser\\Node\> but returns array<PhpParser\\Node\>#'

        -
            message: '#Function "property_exists\(\)" cannot be used/left in the code#'
            paths:
                # on PhpParser Nodes
                - src/NodeNameResolver/NodeNameResolver.php
                - src/BetterPhpDocParser/PhpDocParser/BetterPhpDocParser.php
                - src/BetterPhpDocParser/PhpDocParser/DoctrineAnnotationDecorator.php

        - '#(.*?) class\-string, string given#'

        -
            message: '#Use explicit return value over magic &reference#'
            paths:
                - src/PhpDocParser/PhpDocParser/PhpDocNodeTraverser.php
                - rules/Php70/EregToPcreTransformer.php
                - src/BetterPhpDocParser/PhpDocManipulator/PhpDocClassRenamer.php
                - src/NodeTypeResolver/PHPStan/Type/TypeFactory.php

        # array_index on generic types
        - '#Method Rector\\NodeTypeResolver\\PHPStan\\Type\\TypeFactory\:\:uniquateTypes\(\) should return array<TType of PHPStan\\Type\\Type\> but returns array<int, PHPStan\\Type\\Type\>#'

        - '#Method Rector\\Arguments\\ArgumentDefaultValueReplacer\:\:processReplaces\(\) should return \(TCall of PhpParser\\Node\\Expr\\FuncCall\|PhpParser\\Node\\Expr\\MethodCall\|PhpParser\\Node\\Expr\\New_\|PhpParser\\Node\\Expr\\StaticCall\|PhpParser\\Node\\Stmt\\ClassMethod\)\|null but returns PhpParser\\Node\\Stmt\\ClassMethod\|null#'

        # native filesystem calls, required for performance reasons
        -
            message: '#@(.*?) is forbidden to use#'
            paths:
                - src/Caching/ValueObject/Storage/FileCacheStorage.php

        -
            message: '#Parameter \#2 \$length of function str_split expects int<1, max\>, int given#'
            paths:
                - rules/Php74/Rector/LNumber/AddLiteralSeparatorToNumberRector.php

        # many internal cases
        - '#Calling (.*?) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version#'

        # known value object, nullable due to typed property
        -
            message: '#Cannot call method (.*?)\(\) on (.*?)\\ProcessPool\|null#'
            path: src/Parallel/Application/ParallelFileProcessor.php

        -
            message: '#Use value object over return of values#'
            paths:
                - src/BetterPhpDocParser/PhpDocParser/StaticDoctrineAnnotationParser/ArrayParser.php
                - rules/EarlyReturn/Rector/If_/ChangeNestedIfsToEarlyReturnRector.php
                - rules/Php70/EregToPcreTransformer.php
                - rules/DeadCode/NodeManipulator/LivingCodeManipulator.php
                - rules/EarlyReturn/Rector/If_/ChangeAndIfToEarlyReturnRector.php
                - src/PhpParser/NodeTransformer.php

        # mapper re-use
        - '#Parameter \#1 \$type of method Rector\\PHPStanStaticTypeMapper\\TypeMapper\\ObjectWithoutClassTypeMapper\:\:mapToPhpParserNode\(\) expects PHPStan\\Type\\ObjectWithoutClassType, PHPStan\\Type\\Accessory\\Has(Property|Method)Type given#'

        # Scope vs MutatingScope interchangable false positive
        - '#Parameter \#3 \$nodeCallback of method PHPStan\\Analyser\\NodeScopeResolver\:\:processNodes\(\) expects callable\(PhpParser\\Node, PHPStan\\Analyser\\Scope\)\: void, (callable|Closure)\(PhpParser\\Node, PHPStan\\Analyser\\MutatingScope\)\: void given#'

        # internal reflection
        - '#Instead of "new ClassReflection\(\)" use ReflectionProvider service or "\(new PHPStan\\Reflection\\ClassReflection\(<desired_type>\)\)" for static reflection to work#'

        - '#Callable callable\(PHPStan\\Type\\Type\)\: PHPStan\\Type\\Type invoked with 2 parameters, 1 required#'

        # known value
        - '#Method Rector\\Php\\PhpVersionProvider\:\:provide\(\) should return 50200\|50300\|50400\|50500\|50600\|70000\|70100\|70200\|70300\|70400\|80000\|80100\|80200\|80300\|80400\|100000 but returns int#'

        -
            message: '#Function "class_exists\(\)" cannot be used/left in the code#'
            paths:
                # autoload check in bin file
                - bin/rector.php
                # for config class reflection
                - src/Bootstrap/ExtensionConfigResolver.php
                - src/Validation/RectorConfigValidator.php

        # use of internal phpstan classes
        -
            message: '#Creating new PHPStan\\Reflection\\BetterReflection\\SourceLocator\\Optimized(.*?)SourceLocator is not covered by backward compatibility promise\. The class might change in a minor PHPStan version#'
            path: src/NodeTypeResolver/Reflection/BetterReflection/SourceLocatorProvider/DynamicSourceLocatorProvider.php

        -
            message:  '#@\\ini_set\(.*\)" is forbidden to use#'
            path: bin/rector.php

        -
            message: '#Creating new PHPStan\\Parser\\(CachedParser|SimpleParser) is not covered by backward compatibility promise\. The class might change in a minor PHPStan version#'
            path: src/PhpDocParser/PhpParser/SmartPhpParserFactory.php

        # known existing class
        -
            message: '#Instead of "instanceof/is_a\(\)" use ReflectionProvider service or "\(new ObjectType\(<desired_type>\)\)\->isSuperTypeOf\(<element_type>\)" for static reflection to work#'
            path: src/Skipper/Skipper/SkipSkipper.php

        # the local instanceof for known types
        - '#Instead of "instanceof/is_a\(\)" use ReflectionProvider service or "\(new ObjectType\(<desired_type>\)\)\->isSuperTypeOf\(<element_type>\)" for static reflection to work#'

        # required for reflection
        -
            message: '#Function "(.*?)\(\)" cannot be used/left in the code#'
            path: src/Util/Reflection/PrivatesAccessor.php

        -
            message: '#Method Rector\\Util\\ArrayParametersMerger\:\:mergeLeftToRightWithCallable\(\) has parameter \$mergeCallback with no signature specified for callable#'
            path: src/Util/ArrayParametersMerger.php

        # fixture class
        - '#Class "Rector\\Tests\\Issues\\ScopeNotAvailable\\Variable\\ArrayItemForeachValueRector" is missing @see annotation with test case class reference#'

        -
            message: '#Parameter \#1 \$phpVersion of method Rector\\Config\\RectorConfig\:\:phpVersion\(\) expects 50200\|50300\|50400\|50500\|50600\|70000\|70100\|70200\|70300\|70400\|80000\|80100\|80200\|80300\|80400\|100000, (.*?) given#'
            path: rules-tests

        -
            message: '#Class (.*?) not found#'
            paths:
                - rules-tests/*/config/*

        # trusted items
        - '#Parameter \#1 \$nodes of method PhpParser\\PrettyPrinterAbstract\:\:pCommaSeparatedMultiline\(\) expects array<PhpParser\\Node>, array<PhpParser\\Node\\Expr\\ArrayItem\|null> given#'


        # class string
        - '#Parameter \#1 \$name of method PHPStan\\BetterReflection\\Reflection\\Adapter\\ReflectionClass\:\:getAttributes\(\) expects class\-string\|null, string given#'

        # useless
        - '#Parameter \#1 \$suffix of method PHPUnit\\Framework\\Assert\:\:assertStringEndsWith\(\) expects non\-empty\-string, string given#'

        -
            message: '#Function "(function_exists|dump_node)\(\)" cannot be used/left in the code#'
            path: src/functions/node_helper.php

        # false positive on enums
        - '#Method Rector\\Console\\Command\\SetupCICommand\:\:resolveCurrentCI\(\) never returns (.*?) so it can be removed from the return type#'

        # stmts aware/expression generics
        - '#PhpParser\\Node\\Stmt\\Expression is not generic#'

        - '#Parameter \#3 \$assign of method Rector\\CodeQuality\\Rector\\FunctionLike\\SimplifyUselessVariableRector\:\:processSimplifyUselessVariable\(\) expects PhpParser\\Node\\Expr\\Assign\|PhpParser\\Node\\Expr\\AssignOp, PhpParser\\Node\\Expr given#'

        # false positive
        -
            message: '#Offset 0 does not exist on array<PhpParser\\Node\\Stmt>\|null#'
            path:  rules/Php70/Rector/ClassMethod/Php4ConstructorRector.php

        # chicken/egg
        -
            message: '#Function "(d|dd)\(\)" cannot be used/left in the code#'
            path: tests/debug_functions.php

        # debug functions
        -
            message: '#Function "function_exists\(\)" cannot be used/left in the code\: use ReflectionProvider\->has\*\(\) instead#'
            path: tests/debug_functions.php

        # checks for rector always autoloaded rules only
        -
            message: '#Function "(class_exists|interface_exists)\(\)" cannot be used/left in the code\: use ReflectionProvider\->has\*\(\) instead#'
            path: src/Skipper/SkipCriteriaResolver/SkippedClassResolver.php

        # ignore until PHPParser returns more precise types
        -
            message: '#Parameter \#1 \$useType of callable callable\(0\|1\|2\|3, PhpParser\\Node\\Stmt\\UseUse, string\): void expects 0\|1\|2\|3, int given.#'
            path: rules/CodingStyle/ClassNameImport/UseImportsTraverser.php

        - '#(.*?)\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'

        # dev rule
        - '#Class "Rector\\Utils\\Rector\\MoveAbstractRectorToChildrenRector" is missing @see annotation with test case class reference#'

        # optional as changes behavior, should be used explicitly outside PHP upgrade
        - '#Register "Rector\\Php73\\Rector\\FuncCall\\JsonThrowOnErrorRector" service to "php73\.php" config set#'

        # known enum from strings
        - '#Method Rector\\Php\\PolyfillPackagesProvider\:\:filterPolyfillPackages\(\) should return array\<.*\> but returns array<int, non\-falsy\-string>#'

        # closure detailed
        - '#Method Rector\\Config\\RectorConfig\:\:singleton\(\) has parameter \$concrete with no signature specified for Closure#'

        # dynamic printer
        -
             message: '#Use explicit names over dynamic ones#'
             paths:
                 - src/CustomRules/SimpleNodeDumper.php
                 - src/PhpDocParser/PhpDocParser/PhpDocNodeTraverser.php
                 - src/Testing/PHPUnit/AbstractTestCase.php

        # known node variables
        -
            message: '#Access to an undefined property PhpParser\\Node\\Scalar\:\:\$value#'
            path: src/CustomRules/SimpleNodeDumper.php

        -
            message: '#Offset \(int\|string\) on non\-empty\-array<PHPStan\\PhpDocParser\\Ast\\PhpDoc\\PhpDocChildNode> in isset\(\) always exists and is not nullable#'
            path: src/BetterPhpDocParser/PhpDocParser/DoctrineAnnotationDecorator.php

        -
            message: '#Avoid static access of constants, as they can change value\. Use interface and contract method instead#'
            paths:
                # caching and message of speicfic child Rector rules
                - src/Rector/AbstractRector.php
                # for cache
                - src/Testing/PHPUnit/AbstractRectorTestCase.php
                # specific error report
                - src/Rector/AbstractScopeAwareRector.php

        -
            message: '#Interface "(.*?)" has only single implementer\. Consider using the class directly as there is no point in using the interface#'
            paths:
                # marker interface
                - src/Contract/PhpParser/Node/StmtsAwareInterface.php
                # designed for extension
                - src/Skipper/Contract/SkipVoterInterface.php

        # generated class in /vendor
        -
             message: '#Offset (.*?) on null on left side of \?\? does not exist#'
             path: src/Bootstrap/ExtensionConfigResolver.php

        # wider types for external use
        -
            message: '#Parameters should have "PhpParser\\Node\\Stmt\\ClassMethod" types as the only types passed to this method#'
            path: src/Reflection/ClassModifierChecker.php

        # node / stmts
        - '#Parameter \#3 \$stmts of method Rector\\PostRector\\Application\\PostFileProcessor\:\:shouldSkipPostRector\(\) expects array<PhpParser\\Node\\Stmt>, array<PhpParser\\Node> given#'

        # false positive - should be fixed
        -
            message: '#Parameters should have "PhpParser\\Node\\Expr\\Closure" types as the only types passed to this method#'
        -
            message: '#Parameters should have "PhpParser\\Node\\Stmt\\ClassMethod" types as the only types passed to this method#'
            path: src/VendorLocker/ParentClassMethodTypeOverrideGuard.php

        # deprecated
        - '#Register "Rector\\Php71\\Rector\\ClassConst\\PublicConstantVisibilityRector" service to "php71\.php" config set#'
        - '#Public method "Rector\\ValueObject\\Error\\SystemError\:\:getFile\(\)" is never used#'
