includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/symplify/phpstan-rules/config/services/services.neon

rules:
    - Symplify\PHPStanRules\Rules\CheckClassNamespaceFollowPsr4Rule

parameters:
    reportUnmatchedIgnoredErrors: false
    customRulesetUsed: true

    fileExtensions:
        - inc

    paths:
        - packages-tests/
        - rules-tests/

    excludePaths:
        - '*/RenameClassRector/*'
        - '*/Source/phpstan.phar/*'
        - '*/ImportFullyQualifiedNamesRector/*'
        - '*/TagValueNodeReprint/*'
        # test-case mixes global scope and namespace
        - 'rules-tests/TypeDeclaration/Rector/ClassMethod/AddReturnTypeDeclarationRector/Fixture/extended_parent.php.inc'
        # intentionally without namespace
        - 'rules-tests/Strict/Rector/If_/BooleanInIfConditionRuleFixerRector/Fixture/skip_result_object.php.inc'
