includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/symplify/phpstan-rules/config/services/services.neon

rules:
    - Symplify\PHPStanRules\Rules\CheckClassNamespaceFollowPsr4Rule

parameters:
    reportUnmatchedIgnoredErrors: false
    customRulesetUsed: true

    fileExtensions:
        - inc

    paths:
        - packages-tests/
        - rules-tests/

    excludePaths:
        - '*/RenameClassRector/*'
        - '*/Source/phpstan.phar/*'
        - '*/ImportFullyQualifiedNamesRector/*'
        # rector rules which target php versions which do not yet support namespaces
        - 'rules-tests/Php70/Rector/ClassMethod/Php4ConstructorRector/*'
        # test-case mixes global scope and namespace
        - 'rules-tests/TypeDeclaration/Rector/ClassMethod/AddReturnTypeDeclarationRector/Fixture/extended_parent.php.inc'
        - 'rules-tests/CodingStyle/Rector/Stmt/NewlineAfterStatementRector/Fixture/no_new_line_classlike.php.inc'
        # intentionally without namespace
        - 'rules-tests/CodeQuality/Rector/Class_/CompleteDynamicPropertiesRector/Fixture/class_string_case_sensitive.php.inc'
        - 'rules-tests/CodeQuality/Rector/Class_/CompleteDynamicPropertiesRector/Fixture/class_string_case_insensitive.php.inc'
        - 'rules-tests/Strict/Rector/If_/BooleanInIfConditionRuleFixerRector/Fixture/skip_result_object.php.inc'
        - 'rules-tests/Php80/Rector/Class_/AnnotationToAttributeRector/Fixture/non_namespaced_class_with_annotation.php.inc'
        - 'rules-tests/Removing/Rector/ClassMethod/ArgumentRemoverRector/Fixture/fixture2.php.inc'
        - 'rules-tests/CodingStyle/Rector/Stmt/RemoveUselessAliasInUseStatementRector/Fixture/no_namespace_useless_alias.php.inc'
