<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    executionOrder="defects"
    cacheDirectory=".phpunit.cache"
    defaultTestSuite="main"
>

    <testsuites>
        <testsuite name="main">
            <directory>tests</directory>
            <directory>rules-tests</directory>
            <directory>packages-tests</directory>
            <directory>utils-tests</directory>
        </testsuite>
        <!-- divide the rules-tests roughly in 2 equal sized groups -->
        <testsuite name="php-rules">
            <directory>rules-tests/Php*</directory>
        </testsuite>
        <testsuite name="other-rules">
            <directory>rules-tests/</directory>
            <exclude>rules-tests/Php*</exclude>
        </testsuite>
    </testsuites>
    <php>
        <ini name="memory_limit" value="-1"/>
    </php>

    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
</phpunit>
