name: Code Analysis

on:
    pull_request: null

env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: 'Composer Validate'
                        run: composer validate --ansi

                    -
                        name: 'Run with Space in Directory'
                        run: bin/rector process tests-paths/path/with\ space/SomeFile.php --clear-cache

                    -
                        name: 'Preload php-parser Order'
                        run: php preload.php

                    -
                        name: 'PHPStan'
                        run: vendor/bin/phpstan analyse --ansi --error-format symplify

                    -
                        name: 'Commented Code'
                        run: vendor/bin/swiss-knife check-commented-code src rules tests rules-tests --line-limit 5 --ansi

                    -
                        name: "Validate docs"
                        run: vendor/bin/rule-doc-generator validate rules

                    -
                        name: 'Active Classes'
                        run: |
                            vendor/bin/class-leak check bin config src rules utils \
                                --skip-suffix "Rector" \
                                --skip-type="Rector\\Utils\\Compiler\\Unprefixer" \
                                --skip-type="Rector\\PhpDocParser\\PhpParser\\SmartPhpParserFactory"

                    -
                        name: 'Compatible PHPStan versions'
                        run: php bin/validate-phpstan-version.php

                    -
                        name: 'Finalize classes'
                        run: vendor/bin/swiss-knife finalize-classes src tests

                    -
                        name: 'Detect composer dependency issues'
                        run: vendor/bin/composer-dependency-analyser

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
            -   uses: actions/checkout@v4

            # see https://github.com/shivammathur/setup-php
            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none

            -   uses: "ramsey/composer-install@v3"

            -   run: ${{ matrix.actions.run }}
