name: Tests

on:
    pull_request: null
    push:
     branches:
        - main



env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    tests:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        strategy:
            fail-fast: false
            matrix:
                php: ['8.1']
                path:
                    - "main"
                    - "rules"

        name: PHP ${{ matrix.php }} tests for ${{ matrix.path }}
        steps:
            -   uses: actions/checkout@v3

            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    coverage: none
                    # to display warning when assert() is called, eg: on direct getArgs() on CallLike
                    # and check against first class callable strlen(...)
                    ini-values: zend.assertions=1

            -   uses: "ramsey/composer-install@v2"

            -   run: vendor/bin/phpunit ${{ matrix.path }} --colors
