name: Tests

on:
    pull_request: null
    push:
     branches:
        - main



env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    tests:
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest]

        runs-on: ${{ matrix.os }}
        timeout-minutes: 3

        name: PHP 8.2 tests
        steps:
            -   uses: actions/checkout@v4

            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.2
                    coverage: none
                    # to display warning when assert() is called, eg: on direct getArgs() on CallLike
                    # and check against first class callable strlen(...)
                    ini-values: zend.assertions=1

            -   uses: "ramsey/composer-install@v2"

            -   run: vendor/bin/phpunit --colors
